body{
margin:0;
font-family:Arial;
background:#a6a6a6;
}

.topbar{
background:#0f4ea8;
color:white;

display:flex;
align-items:center;
justify-content:space-between;

padding:15px 30px;
}

.logo{
font-size:26px;
font-weight:bold;
}

.search input{
width:400px;
padding:10px;
border-radius:25px;
border:none;
}

.menu-icons{
display:flex;
gap:15px;
}

.login{
background:white;
border:none;
padding:8px 15px;
border-radius:10px;
cursor:pointer;
}

.container{
display:grid;
grid-template-columns:2fr 1fr 2fr;
gap:20px;
padding:30px;
}

.card{
background:#e5e5e5;
border-radius:20px;
padding:20px;
}

.big-left{
height:400px;
}

.big-right{
height:400px;
}

.middle{
display:flex;
flex-direction:column;
gap:20px;
}

.small{
height:180px;
}

footer{
background:#222;
color:white;
text-align:center;
padding:15px;
}